<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/>
            <br/>
            <h2>Our Story</h2>
            <br/>
            <p>The local Indian retail apparel market holds a massive potential of growth and delivering world class cloth quality to the Indian households. The market is semi-organised to some extent in certain parts of the country, also unorganised in some parts as traditionally people visit the stores on walk-in basis. Healthy signs can be seen as many stores/retailers have registered themselves as sellers. But what about online promotions of the stores or management of store operations or how to compete with the big guys?</p>
            <p>We say disruption is required. And this is where WeeBuy steps in. We are a bunch of young people based out of “The City of Joy – Kolkata” looking to make an impactful difference in this space and deliver unique shopping experience to the customers.</p>
            <p>Founded in March 2018, we are committed to shape up the local Indian retail apparel market digitally through innovation, honesty and conviction.</p>
            <br/>
        </div>
    </div>
</section>
